* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar-block {
    width: 150px;
    height: 680px;
}

.logo {
    margin: 32px auto;
    display: block;
}

.links-networks {
    display: flex;
    align-items: center;
    position: absolute;
    top: 470px;
    left: -65px;
    transform: rotate(-90deg);
    gap: 40px;
}

.links-networks .line{
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.links-networks a {
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
    text-decoration: none;
}

.links-networks a:hover {
    color: #FF6C00;
}

.main-block {
    position: relative;
    margin-right: 59px;
    overflow-x: hidden;
    flex-grow: 1;
}

.images {
    width: 300%;
    position: absolute;
    z-index: -1;
    display: flex;
    top: 0;
}

.image {
    height: 680px;
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
}

.image:nth-child(1) {
    background-image: url("../img/slider-img-3.jpg");
}

.image:nth-child(2) {
    background-image: url("../img/slider-img-2.jpg");
}

.image:nth-child(3) {
    background-image: url("../img/slider-img-1.jpg");
}

.nav-contacts {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    display: none;
}

.navigation {
    margin-left: 40px;
    display: flex;
    gap: 40px;
}

.navigation div {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    color: white;
    cursor: pointer;
}

.navigation div:hover {
    color: #FF6C00;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts .number {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-right: 40px;
}

.contacts a {
    color: #FFF;
    margin-right: 5px;
}

.button {
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #FF6C00;
    border-radius: 20px;
    transition-property: color, background-color;
    transition-duration: 500ms;
}

.white-button {
    color: #FFF;
}

.black-button {
    color: #303030;
}

.contacts a:hover, .button:hover {
    color: white;
    background-color: #FF6C00;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 188px 52px 142px 96px;
}

.quote {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.line-quote {
    width: 63px;
    height: 1px;
    margin-right: 21px;
}

.main-quote {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.gray-bg {
    background: rgba(157, 164, 189, 0.60);
}

.gray-txt {
    color: rgba(157, 164, 189, 0.60);
}

.black-bg {
    background: #303030;
}

.black-txt {
    color: #303030;
}

h1 {
    color: #FFF;
    font-family: "Raleway";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    margin-bottom: 20px;
}

.main-text {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    width: 400px;
}

.main-text-gray {
    color: #9DA4BD;
}

.main-text-black {
    color: #555555;
}

.main-content .lines {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.main-content .lines div {
    width: 8px;
    height: 2px;
    background-color: #9DA4BD;
}

.main-content .lines div.active {
    width: 17px;
    background-color: white;
}

.back-next {
    position: absolute;
    bottom: 40px;
    right: 48px;
    display: flex;
}

.back {
    margin-right: 25px;
    text-align: right;
    cursor: pointer;
}

.next {
    cursor: pointer;
}

.text-b, .text-n {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}

.line-b, .line-n {
    width: 60px;
    height: 1px;
} 

.white-txt {
    color: white;
}

.white-bg {
    background-color: white;
}

.image-position-1 {
    left: 0;
}

.image-position-2 {
    left: -100%;
}

.image-position-3 {
    left: -200%;
}

.menu, .shadow {
    display: none;
}

.section-about-us {
    padding: 139px 91px 121px 55px;
}

.about-us {
    display: flex;
    justify-content: space-between;
}

.two-images {
    display: flex;
    gap: 30px;
    margin-right: 64px;
}

.two-images div {
    width: 270px;
    height: 445px;
    background-size: cover; 
    background-position: center;
}

.two-images div:first-child {
    background-image: url("../img/img-1.jpg");
}

.two-images div:last-child {
    background-image: url("../img/img-2.jpg");
}

.about-us-text .main-text {
    width: auto;
    margin-bottom: 20px;
}

.text-about-us {
    color: #555;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.28px;
    margin-bottom: 40px;
}

h2 {
    color: #303030;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    margin-bottom: 20px;
}

h2.white-h2 {
    color: white;
    text-align: left;
}

.big-image {
    background-image: url("../img/big-image.jpg");
    background-size: cover;
    background-position: center center;
    padding: 130px 55px;
    position: relative;
}

.dark-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111319;
    opacity: 0.7;
    height: 100%;
}

.services-prices {
    z-index: 2;
    position: relative;
    text-align: center;
}

.blocks-services {
    margin: 44px 0px 50px;
    display: flex;
}

.block-services {
    padding: 30px 40px;
    flex-basis: 50%;
}

.block-services:first-child {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}

.block-services:last-child {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
}

.about-service {
    display: flex;
    justify-content: space-between;
}

.about-service:not(:last-child) {
    margin-bottom: 20px;
}

.service-price {
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
}

.decoration {
    background-color: rgba(157, 164, 189, 0.12);
    height: 1px;
    flex-grow: 1;
    margin-top: 22px;
    margin-right: 6px;
    margin-left: 6px;
}

.services-prices .button{
    margin: 0 auto;
}

.advantages {
    margin: 121px auto 130px;
    display: flex;
    justify-content: center;
    gap: 130px;
}

.people-count {
    display: flex;
    gap: 30px;
}

.blocks-statistic {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blocks-statistic:nth-child(2) {
    margin-top: 35px;
}

.block-statistic {
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    text-align: center;
}

.count {
    position: relative;
    margin: 20px 0px 6px;
    display: inline-block;
}

.big-number {
    color: #303030;
    text-align: center;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2.1px;
}

.small-symbol {
    position: absolute;
    right: -15px;
    bottom: 28px;
    color: #FF6C00;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.people {
    margin: 0 auto;
    color: #303030;
    text-align: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    width: 122px;
}

.people-last {
    width: 130px;
}

.advantages-content h2{
   width: 412px;
}

.advantages-content .main-text{
   width: 500px;
}

.background-gray {
    background-color: #F7F7F7;
    padding: 130px 55px;
}

.our-masters h2 {
    margin-bottom: 44px;
}

.masters {
    display: flex;
    justify-content: space-between;
}

.master {
    width: 370px;
}

.master-image {
    width: 100%;
    height: 346px;
    background-size: cover;
    background-position: center center;
}

.master:nth-child(1) .master-image {
    background-image: url("../img/master-1.jpg");
}

.master:nth-child(2) .master-image {
    background-image: url("../img/master-2.jpg");
}

.master:nth-child(3) .master-image {
    background-image: url("../img/master-3.jpg");
}

.about-master {
    margin: 30px auto;
    text-align: center;
}

.master-name {
    color: #303030;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 8px;
}

.master-position {
    color: #FF6C00;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
}

.acount-networks {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.acount-network {
    background-color: white;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #303030;
    font-size: 20px;
}

.acount-network:hover {
    color: #FF6C00;
}

.four-images {
    padding: 130px 55px;
}

.beard .quote {
    margin-bottom: 44px;
}

.images-beard {
    display: flex;
    justify-content: space-between;
}

.image-beard {
    width: 270px;
    height: 360px;
    background-position: center center;
    background-size: cover;
}

.image-beard:nth-child(1) {
    background-image: url("../img/image-1.jpg");
}

.image-beard:nth-child(2) {
    background-image: url("../img/image-2.jpg");
}

.image-beard:nth-child(3) {
    background-image: url("../img/image-3.jpg");
}

.image-beard:nth-child(4) {
    background-image: url("../img/image-4.jpg");
}

.two-sections {
    display: flex;
}

.online-registration {
    background-color: #191C26;
    flex-grow: 1;
    padding: 130px 40px 193px 55px;
}

.online-registration-block h2 {
    margin-bottom: 44px;
}

.form .name-phone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.contacts-address {
    width: 625px;
}

.elem-form {
    display: block;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.40);
    background-color: transparent;
    color: rgba(157, 164, 189, 0.40);
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.elem-form-2 {
    display: block;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.elem-form:focus {
    outline: none;
}

.elem-form::placeholder {
    color: rgba(157, 164, 189, 0.40);
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.elem-form-2::placeholder {
    color: white;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.input-elem {
    padding: 0px 0px 8px;
}

.input-elem:first-child {
    width: 270px;
}

.input-elem:last-child {
    width: 260px;
}

.textarea {
    padding: 0px 0px 60px;
    resize: none;
    width: 100%;
    margin-bottom: 44px;
}

input.button {
    padding: 12px 38px;
    background-color: transparent;
    cursor: pointer;
}

.contacts-address {
    background-image: url("../img/barber-shop.jpg");
    background-size: cover;
    background-position: center;
    padding: 130px 100px;
    position: relative;
}

.dark-block-opacity {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0px;
    height: 100%;
    background-color: #191C26;
    opacity: 0.9;
}

.contacts-address-block h2 {
    margin-bottom: 40px;
    z-index: 1;
    position: relative;
}

.main-contacts {
    display: flex;
    flex-direction: column;
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    z-index: 1;
    position: relative;
}

.contacts-data {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 70px;
    width: 230px;
}

.contact-info {
    display: flex;
    gap: 16px;
}

.contact-info:first-child {
    align-items: flex-start;
}

.contact-info:first-child .contact-icon {
    margin-top: 6px;
}

.contact-info:last-child .contact-text {
    text-decoration: underline;
}

.time-work .main-quote {
    color: white;
}

.footer {
    padding: 56px 55px 55px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    gap: 6px;
    align-items: center;
}

.left-icon {
    width: 12px;
    height: 12px;
}

.left-text {
    color: #9DA4BD;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.right-footer {
    display: flex;
    gap: 40px;
    align-items: center;
}

.right-line {
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.right-text {
    text-decoration: none;
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
}

.right-text:hover {
    color: #FF6C00;
}

@media (min-width: 1550px) {
    .block-statistic {
        width: 220px;
    }

    .advantages {
        gap: 200px;
    }

    .image-beard {
        width: 320px;
        height: 430px;
    }

    .input-elem:first-child, .input-elem:last-child {
        width: 340px;
    }
}

@media (max-width: 1280px) {
    .master {
        width: 330px;
    }

    .image-beard {
        width: 240px;
        height: 310px;
    }

    .input-elem:first-child {
        width: 200px;
    }
    
    .input-elem:last-child {
        width: 200px;
    }
}

@media (max-width: 1150px) {
    .main-block {
        margin-right: 39px;
    }
    
    .navigation {
        margin-left: 23px;
        gap: 24px;
    }

    .main-content {
        margin: 164px 37px 142px 70px;
    }

    h1 {
        font-size: 48px;
        letter-spacing: 2.4px; 
    }

    .main-text {
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.32px;
        width: 349px;
    }

    .contacts {
        flex-direction: column-reverse;
    }
    
    .contacts .number {
        margin-right: 0px;
        text-align: center;
    }
    
    .contacts a {
        margin-bottom: 20px;
    }

    .nav-contacts {
        align-items: baseline;
    }

    .back-next {
        bottom: 34px;
        right: 37px;
    }

    .section-about-us {
        padding: 100px 39px 103px;
    }
    
    .two-images {
        flex-direction: column;
        margin-right: 30px;
    }

    .two-images div {
        width: 330px;
        height: 235px;
    }

    h2 {
        font-size: 28px;
        letter-spacing: 1.4px;
    }

    .about-us-text .main-text{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.32px;
    }

    h2.white-h2 {
        font-size: 42px;
    }

    .big-image {
        padding: 100px 39px;
    }

    .blocks-services {
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
        flex-direction: column;
        padding: 30px 40px;
    }
    
    .block-services {
        padding: 0;
        flex-basis: 50%;
    }
    
    .block-services:first-child {
        background: none;
    }
    
    .block-services:last-child {
        background: none;
    }

    .block-services:not(:last-child) .about-service:last-child {
        margin-bottom: 20px;
    }

    .advantages {
        margin: 100px 40px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 44px;
    }

    .people-count {
        align-self: flex-end;
    }

    .block-statistic {
        width: 210px;
    }

    .advantages-content h2 {
        font-size: 42px;
        letter-spacing: 2.1px;
    }

    .advantages-content .main-text {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.36px;
    }

    .background-gray {
        padding: 100px 0px;
    }

    .our-masters {
        width: 450px;
        margin: 0 auto;
    }

    .our-masters h2 {
        font-size: 42px;
        line-height: normal;
        letter-spacing: 2.1px;
    }

    .masters {
        flex-direction: column;
        gap: 64px;
    }

    .master {
        width: 100%;
    }

    .four-images {
        padding: 100px 0px;
    }

    .beard {
        margin: 0 auto;
        width: 690px;
    }

    .images-beard {
        flex-wrap: wrap;
        gap: 30px;
    }

    .image-beard {
        width: 330px;
        height: 360px;
    }

    .two-sections {
        flex-direction: column;
    }

    .contacts-address {
        width: 100%;
    }

    .online-registration {
        padding: 100px 39px;
    }

    .input-elem:first-child, .input-elem:last-child {
        width: 330px;
    }

    .contacts-address {
        padding: 100px 39px;
    }

    .main-contacts {
        flex-direction: row;
    }

    .contacts-data {
        width: 330px;
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .contact-info:first-child .contact-text {
        width: 230px;
    }

    .footer {
        padding: 56px 39px;
    }
}

@media (max-width: 768px) {
    header {
        width: 100%;
    }

    .continer {
        width: 100%;
    }

    .logo {
        display: block;
        position: absolute;
        top: 40px;
        left: 31px;
        margin: 0;
    }

    .nav-contacts {
        position: fixed;
        background-color: white;
        top: 0;
        bottom: 0;
        right: 0;
        width: 337px;
        z-index: 3;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        transform: translateX(337px);
        transition-property: transform;
        transition-duration: 500ms;
    }

    .nav-contacts-show {
        position: fixed;
        background-color: white;
        top: 0;
        bottom: 0;
        right: 0;
        width: 337px;
        z-index: 3;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        transform: translateX(0px);
        transition-property: transform;
        transition-duration: 500ms;
    }

    .close {
        display: block;
        position: absolute;
        top: 48px;
        right: 31px;
        cursor: pointer;
    }

    .navigation {
        flex-direction: column;
        margin: 118px 40px 64px;
    }

    .navigation div {
        color: #303030;
        font-size: 18px;
        letter-spacing: 1.8px;
    }

    .contacts {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 64px;
        margin-left: 40px;
    }

    .contacts .number {
        color: #303030;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.8px;
        margin-bottom: 24px;
        margin-right: 0px;
    }
    
    .contacts a {
        color: #303030;
        padding: 12px 37px;
        border-radius: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .sidebar-block {
        width: 220px;
        margin-left: 40px;
    }

    .links-networks {
        transform: rotate(0deg);
        position: static;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0;
        margin: 0;
    }

    .links-networks a {
        font-size: 14px;
        letter-spacing: 2.8px;
    }

    .links-networks .line {
        margin-right: 40px;
        margin-bottom: 33px;
        margin-top: 10px;
    }

    .links-networks a:last-child {
        margin-left: 100px;
    }

    .main-content .lines {
        display: none;
    }

    .back-next {
        display: none;
    }

    .main-block {
        height: 580px;
        margin-right: 0;
        width: 100%;
    }

    .main-content {
        margin: 208px 0px 0px 31px;
    }

    .main-text {
        width: 306px;
    }

    .menu {
        display: block;
        position: absolute;
        top: 48px;
        right: 31px;
        cursor: pointer;
    }

    .image {
        height: 580px;
    }

    .block-shadow {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(25, 28, 38, 0);
        z-index: 2;
        transition-property: background-color;
        transition-duration: 500ms;
    }

    .block-shadow-dark {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(25, 28, 38, 0.20);
        z-index: 2;
        transition-property: background-color;
        transition-duration: 500ms;
    }

    .two-images {
        display: none;
    }

    .section-about-us {
        padding: 84px 31px;
    }

    .about-us h2 {
        max-width: 330px;
        width: auto; 
    }

    .about-us-text .main-text {
        width: auto;
        max-width: 500px;
    }
    
    .text-about-us {
        width: auto;
        max-width: 500px;
    }

    .big-image {
        padding: 84px 31px;
    }

    .service-price {
        font-size: 14px;
        letter-spacing: 0.28px;
    }

    .blocks-services {
        padding: 30px;
    }

    .decoration {
        margin-top: 19px;
    }

    .advantages {
        margin: 84px auto;
        align-items: center;
    }

    .people-count {
        align-self: center;
    }

    .block-statistic {
        width: 194px;
    }

    .advantages-content h2, .advantages-content .main-text {
        width: 418px;
    }

    .background-gray {
        padding: 84px 0px;
    }

    .our-masters {
        width: 418px;
        margin: 0 auto;
    }

    .four-images {
        padding: 84px 0px;
    }

    .beard {
        width: 418px;
        margin: 0px auto;
    }

    .beard .quote {
        align-items: flex-start;
    }

    .beard .line-quote {
        margin-top: 10px;
    }

    .image-beard {
        width: 100%;
        height: 360px;
    }

    .online-registration {
        padding: 84px 31px;
        text-align: center;
    }

    .online-registration-block h2.white-h2{
        text-align: center;
    }

    .name-phone {
        flex-direction: column;
        gap: 44px;
    }

    .input-elem:first-child, .input-elem:last-child {
        width: 100%;
    }

    .contacts-address {
        padding: 84px 31px;
    }

    .main-contacts {
        flex-direction: column;
        gap: 44px;
    }

    .contacts-data {
        width: auto;
        margin-right: 0px;
    }

    .contact-info {
        width: auto;
    }

    .contact-info:first-child .contact-text {
        width: auto;
    }

    .contacts-address-block h2.white-h2 {
        text-align: center;
    }

    .footer {
        padding: 44px 31px;
    }

    .footer-content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .left-footer {
        align-self: flex-start;
    }

    .right-footer {
        align-self: flex-end;
    }
}

@media (max-width: 480px) {
    .big-image {
        padding: 50px 20px;
    }

    .services-prices .line-quote {
        display: none;
        text-align: left;
    }

    .services-prices .main-quote {
        text-align: left;
    }

    h2.white-h2 {
        font-size: 22px;
    }

    .blocks-services {
        margin: 30px 0;
        padding: 15px;
    }

    .advantages {
        margin: 50px 20px;
    }

    .advantages-content h2, .advantages-content .main-text {
        max-width: 418px;
        width: auto;
    }
    
    .advantages-content h2 {
        margin-bottom: 10px;
        font-size: 28px;
        letter-spacing: 1.4px;
    }

    .advantages .quote {
        margin-bottom: 10px;
    }

    .advantages-content .main-text {
        font-size: 12px;
        line-height: normal;
    }

    .people-count {
        flex-direction: column;
    }

    .blocks-statistic:nth-child(2) {
        margin-top: 0px;
    }

    .block-statistic {
        width: 250px;
    }

    .background-gray {
        padding: 50px 20px;
    }
    
    .our-masters .quote {
        margin-bottom: 10px;
    }

    .our-masters h2 {
        font-size: 28px;
        line-height: normal;
        letter-spacing: 1.4px;
        margin-bottom: 22px;
    }

    .our-masters {
        width: auto;
    }
    
    .masters {
        gap: 32px;
    }

    .master-image {
        height: 250px;
    }

    .about-master {
        margin: 10px auto;
    }

    .four-images {
        padding: 50px 20px;
    }

    .beard {
        width: auto;
    }

    .beard .quote {
        margin-bottom: 22px;
    }

    .image-beard {
        height: 240px;
    }

    .online-registration {
        padding: 50px 20px;
    }

    .textarea {
        padding: 0px 0px 40px;
    }

    .name-phone {
        gap: 27px;
    }

    .contacts-address {
        padding: 50px 20px;
    }

    .contacts-address-block h2 {
        margin-bottom: 22px;
    }

    .main-contacts {
        font-size: 12px;
        letter-spacing: 0.27px;
    }

    .right-footer {
        gap: 20px;
    }
}

@media (max-width: 420px) {
    .menu {
        top: 28px;
        right: 20px;
        width: 34px;
    }

    .logo {
        top: 25px;
        left: 20px;
        width: 48px;
    }

    .main-content {
        margin: 150px 0px 0px 20px;
    }

    .text-content {
        margin-right: 30px;
    }

    .line-quote {
        display: none;
    }

    .quote {
        margin-bottom: 10px;
        width: auto;
    }
    
    .main-quote {
        font-size: 10px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px; 
    }

    .main-text {
        font-size: 12px;
        line-height: normal;
        max-width: 200px;
        width: auto;
    }

    .main-block {
        height: 400px;
    }

    .image {
        height: 400px;
    }

    .close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }

    .navigation {
        margin: 70px 20px 40px;
        gap: 10px;
    }

    .navigation div {
        font-size: 14px;
        letter-spacing: 1.2px;
    }

    .contacts {
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .contacts .number {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-bottom: 12px;
        margin-right: 0px;
    }
    
    .contacts a, .button {
        padding: 10px 20px;
        border-radius: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 10px;
    }

    .nav-contacts {
        width: 220px;
        transform: translateX(220px);
    }

    .nav-contacts-show {
        width: 220px;
        z-index: 3;
    }

    .sidebar-block {
        width: auto;
        margin-left: 20px;
    }

    .links-networks {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .links-networks a {
        font-size: 12px;
        letter-spacing: 2.2px;
    }

    .links-networks .line {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .links-networks a:last-child {
        margin-left: 0px;
    }

    .section-about-us {
        padding: 50px 20px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 22px;
        letter-spacing: 1.1px;
    }

    .about-us-text .main-text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }
    
    .text-about-us {
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 20px;
    }

    .block-services:first-child .about-service {
        margin-bottom: 10px;
    }

    .block-services:first-child .about-service:last-child {
        margin-bottom: 10px;
    }
    
    .block-services:last-child .about-service:not(:last-child) {
        margin-bottom: 10px;
    }

    .service-price {
        font-size: 11px;
        letter-spacing: 0.22px;
    }

    .decoration {
        margin-top: 17px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    
    .main-text {
        width: auto;
    }
    
    .service {
        text-align: left;
        width: auto;
        max-width: 100px;
        line-height: normal;
    }

    .about-service {
        align-items: center;
    }

    .decoration {
        margin-top: 0;
        width: auto;
    }

    .price {
        line-height: normal;
        width: auto;
    }

    .block-statistic {
        width: 100%;
        height: 110px;
    }

    .people-count, .blocks-statistic  {
        width: 100%;
        gap: 15px;
    }

    .count {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .form .button {
        padding: 10px 20px;
    }

    .online-registration-block h2{
        margin-bottom: 20px;
    }

    .textarea {
        margin-bottom: 20px;
    }

    .contact-icon {
        display: none;
    }

    .right-line {
        display: none;
    }

    .right-footer{
        flex-direction: column;
        gap: 10px;
    }
}