* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar-block {
    width: 150px;
    height: 680px;
}

.logo {
    margin: 32px auto;
    display: block;
}

.links-networks {
    display: flex;
    align-items: center;
    position: absolute;
    top: 470px;
    left: -65px;
    transform: rotate(-90deg);
    gap: 40px;
}

.links-networks .line{
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.links-networks a {
    color: #303030;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.2px;
    text-decoration: none;
}

.links-networks a:hover {
    color: #FF6C00;
}

.main-block {
    position: relative;
    margin-right: 59px;
    overflow-x: hidden;
    flex-grow: 1;
}

.images {
    width: 300%;
    position: absolute;
    z-index: -1;
    display: flex;
    top: 0;
}

.image {
    height: 680px;
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
}

.image:nth-child(1) {
    background-image: url("../img/slider-img-3.jpg");
}

.image:nth-child(2) {
    background-image: url("../img/slider-img-2.jpg");
}

.image:nth-child(3) {
    background-image: url("../img/slider-img-1.jpg");
}

.nav-contacts {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    margin-left: 40px;
    display: flex;
    gap: 40px;
}

.navigation a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    color: white;
}

.navigation a:hover {
    color: #FF6C00;
}

